<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
<title>Power Plant Calculator</title>
</head>
<body style="background-color:powderblue">
<h1>Power Plant Calculator</h1>
<form action '/' method = 'POST'>
    <table>
        <tr>
          <td>Temperature °C:</td> <td><input type='text' name='temperature'></td><td>(0°C-40°C)</td>
        </tr>
        <tr>
          <td>Exhaust Vacuum cm Hg:</td> <td><input type='text' name='vacuum'></td> <td>(20-85cm Hg)</td>
        </tr>
        <tr>
          <td>Ambient Pressure milibar:</td> <td><input type='text' name='pressure'></td> <td>(900 - 1100 milibar)</td>
        </tr>
        <tr>
            <td>Relative Humidity %:</td> <td><input type='text' name='humidity'></td> <td>(0-100%)</td>
        </tr>
      </table>
    <button type='submit' value='submit'>&emsp;&emsp;Calculate&emsp;&emsp;</button><br><br>
    <hr>
</form>

<p>Power Plant energy output is {{ eo }} Mw</p>
<p style="color:red;text-align: center"> developed by Mudassir Shaik</p>
  </body>
</html>
